Name: AddProfileInstallButton
Package: com.dhinakg.addprofileinstallbutton
Maintainer: DhinakG
Depends: mobilesubstrate, firmware (>= 12.0)
Architecture: iphoneos-arm
Section: Tweaks
Homepage: https://dhinakg.github.io/repo
Description: Add an "Install Profile" button to the "Profile Downloaded" popup.
Version: 1.0.2
Installed-Size: 120
